* {
    margin: 0;
    padding: 0;
}

:root{
--color-primary: #D1D1D1;
--color-secundary: #9E9292;
--color-backgroud: #000;
--color-backgourd-secundary:#BDBDBD;
}

body,input,select {
font-family: 'Archivo', sans-serif;
}

h1{
    position: absolute;
    width: 1364px;
    height: 1500px;
    left: center;
    color: #9E9292;
    top: 337px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 72px;
}

h2{
    font-size: 40px; 
    color: var(--color-primary);
}

h3{
    font-size: 30px; 
}

.structure{
    display: grid;
    grid-template-areas: 
    "header"
    "headline"
    "fotop"
    "frase4"
    "feature"
    "reticence"
    "frase3"
    "destaques1"
    "destaques"
    ;
}

.header{
    grid-area: header;
    background-color: var(--color-primary); 
    display: flex;
    align-items: center; 
}

.header .logo2{
    grid-area: logo2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    width: 850px;
}

.header .logo2 .menu{
    margin-left: auto;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-size: 35px;
    padding: 50px;
}

.headline{
    grid-area: headline ;
    background: #000000;
    width: 1900px;
    height: 3945px;
    
    
}

.imagem-meio{
    grid-area: imagem-meio;
    display: flex; 
    justify-content: center; 
}

.seta{
    position: absolute;
    left: center;
    top: 1132px;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}
.seta img{
    cursor: pointer;
}

.frase3{
    grid-area: frase3 ;
    position: absolute;
    color: var(--color-primary);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    width: 1018px;
    height: 320px;
    left:center;
    top: 1350px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;  
}

.fotoP{
    grid-area: fotoP ;
    position: absolute;
    left: center;
    top: 1811px;
    border-radius: 200px
}

.frase4{
    grid-area: frase4 ;
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    width: 814px;
    height: 156px;
    left: center;
    top: 2568px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: var(--color-primary);
}

.reticence{
    grid-area: reticence;
    position: absolute;
left: center;
top: 2770px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;
color: #FFFFFF;
}

.feature {
    position:absolute;
    flex-direction:column;
    text-align: center;
    margin-top:2800px;
    display: flex;
}
.destaques {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    width: 100%;
    left: auto;
}
.destaques1{
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    
    margin: 10px;
    position: relative;
    text-align: center;
}
.destaques1 img{
    padding: 10px;
}

.barra{
    flex-direction:row;
    display: flex;
    padding-top: 35px;
    justify-content:left; 
    width: auto;
    height: auto;
position: relative;


border-radius: 35px;
}
.barra2{
    display: flex;
    padding-top: 1px;
    margin-bottom: 13px;
    justify-content:left; 
    left: 0;
    
    width: 80%;
position: relative;


background: #9E9292;
border-radius: 35px;
}

.barra3{
    display: flex;
    padding-top: 35px;
    justify-content:right; 
    right: 0;
    width: 20%;
position: relative;


border-radius: 35px;
}

.content{
    grid-area: content; 
}

.infoFooter{
    grid-area: infoFooter;
}

.footer{
    grid-area: footer; 
}

@media (max-width: 1200px){

}

@media (max-width: 1000px){
    
}

@media (max-width: 600px){
    
}

